<tr>
  <td valign="middle" class="hero bg_white" style="padding: 2em 0 4em 0;">
    <table>
      <tr>
        <td>
          <div class="text" style="padding: 0 2.5em; text-align: center;">
            <h2>Welcome to Password Management</h2>
            <h3>Dear <%= @user.name %></h3>
            <p>Thank you for signing up</p>
          </div>
        </td>
      </tr>
    </table>
  </td>
</tr><!-- end tr -->

