div.input-group.margin-bottom-33
  div.input-group-prepend.prepend-fixed
    span.input-group-text.password-text-color =title
  = form.input field, label: false, input_html: { class: 'form-input-control form-control' }
