div.input-group.margin-bottom-33.form-group-control
  div.input-group-prepend
    span.input-group-text.password-text-color =title
  = form.input field, label: false, input_html: { class: 'form-input-control form-control' }
