<tr>
  <td valign="middle" class="hero bg_white" style="padding: 2em 0 4em 0;">
    <table>
      <tr>
        <td>
          <div class="text" style="padding: 0 2.5em; text-align: center;">
            <h2>Password reset request</h2>
            <h3>Dear  <%= @user.name %></h3>
            <p>Someone has requested a link to change your password. You can do this through the link below.</p>
            <p><%= link_to 'Change my password', edit_user_password_url(reset_password_token: @token),
                           class: 'btn btn-primary' %></p>
            <br>
            <p>If you didn't request this, please ignore this email.</p>
            <p>Your password won't change until you access the link above and create a new one.</p>
          </div>
        </td>
      </tr>
    </table>
  </td>
</tr><!-- end tr -->
