/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-wysihtml5
 *= require selectize
 *= require selectize.bootstrap3
 *= require bootstrap-datepicker
 *= require bootstrap-switch
 *= require toastr
 *= require bootstrap
 *= require font-awesome
 *= require adminlte
 *= require_tree .
 *= require datatables
 *= require_self
 */

.content-header > .breadcrumb > li + li:before {
  font-family: FontAwesome;
  content: "\f138";
  padding-right: 3px;
  padding-left: 3px;
  vertical-align: middle;
}

.padding-right {
  padding-right: 6px;
}

.margin-left {
  margin-left: 6px;
}

.modal-header {
  display: block !important;
}

.margin-bottom-33 {
  margin-bottom: 33px;
}

.password-text-color {
  color: rgb(255, 255, 255);
  background-color: rgb(57, 179, 215);
  border-color: rgb(38, 154, 188);
}

.clippy {
    margin-top: -3px;
    position: relative;
    top: 3px;
    width: 13px;
}
