/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-wysihtml5
 *= require selectize
 *= require selectize.bootstrap3
 *= require bootstrap-datepicker
 *= require bootstrap-switch
 *= require toastr
 *= require bootstrap
 *= require font-awesome
 *= require adminlte
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require device
 *= require bs-stepper
 *= require bs-extend
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-toggle
 *= require_tree .
 *= require_self
 */
.main-header {
  max-height: 100% !important;
}

.main-header .logo {
  line-height: 54px;
  height: auto;
}

.navbar {
  padding: 0px 0px !important;
}

.navbar-nav {
  margin-right: 10px;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
  margin-top: 15px;
}

.content-header > .breadcrumb > li + li:before {
  font-family: FontAwesome;
  content: "\f138";
  padding-right: 3px;
  padding-left: 3px;
  vertical-align: middle;
}

.padding-right {
  padding-right: 6px;
}

.margin-left {
  margin-left: 6px;
}

.modal-header {
  display: block !important;
}

.margin-bottom-33 {
  margin-bottom: 4%;
}

@media screen and (max-width: 1280px) and (max-height: 800px) and (min-height: 769px) {
  .input-group {
    flex-wrap: nowrap !important;
  }

}

@media only screen and (max-width: 600px) {
  .input-group {
    flex-wrap: nowrap !important;
  }

}


.password-text-color {
  color: rgb(255, 255, 255);
  background-color: rgb(57, 179, 215);
  border-color: rgb(38, 154, 188);
}

.clippy {
    margin-top: -3px;
    position: relative;
    top: 3px;
    width: 13px;
}

.text-area-copy {
  display: block !important;
}

.sidebar-menu > li.active > a.active {
  background: rgb(57, 179, 215) !important;
}

.sidebar-menu > li > a:hover {
  background: #3c8dbc !important;
}


.password_name,
.password_url,
.password_key,
.password_username,
.password_text_password,
.password_ssh_finger_print {
  width: 80% !important;
}

.password_ssh_public_key,
.password_ssh_private_key,
.password_details {
  width: 100% !important;
}

.password_name > span.help-block,
.password_url > span.help-block,
.password_text_password > span.help-block {
  display: none;
}


.form-input-control {
  margin-bottom: -1rem !important;
}

.password-show {
  padding-left: 10px;
}

.treeview > ul.treeview-menu > li > a {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.treeview > ul.treeview-menu > li.active > a {
  background: rgb(57, 179, 215) !important;
}
.treeview > ul.treeview-menu > li > a:hover {
  background: #3c8dbc !important;
}

.sidebar-menu .treeview-menu {
  padding-left: 0px !important;
}

.treeview > ul.treeview-menu > li > a > i {
  padding-left: 10px;
}

.treeview > ul.treeview-menu > li > a > span {
  padding-left: 8px;
}
.sidebar-menu > li.treeview > a.active {
  background: none !important;
}

.main-header li.user-header {
  background-color: #0ebcd4;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: 90px !important;
}

/*
 * Component: Dropdown menus
 * -------------------------
 */
/*Dropdowns in general*/
.dropdown-menu {
  box-shadow: none;
  border-color: #eee;
}
.dropdown-menu > li > a {
  color: #777;
}
.dropdown-menu > li > a > .glyphicon,
.dropdown-menu > li > a > .fa,
.dropdown-menu > li > a > .ion {
  margin-right: 10px;
}
.dropdown-menu > li > a:hover {
  background-color: #e1e3e9;
  color: #333;
}
.dropdown-menu > .divider {
  background-color: #eee;
}

.nav > li > a.dropdown-toggle {
  padding: 15px 11px 15px 10px;
  border-radius: 4px;
}

.nav > li > a.dropdown-toggle:after {
  content: none;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.status_button {
  padding-top: 14%;
  padding-right: 10px;
}

.padding-right_10 {
  padding-right: 10px;
}

.eye-btn {
  padding-top: 11px;
  background-color: #404040;
  color: white;
  cursor: pointer;
}

.group-right {
  margin-right: 10px;
}

.buttons-csv {
  color: green;
  background-color: #3434;
}

button.btn.btn-secondary.buttons-csv.buttons-html5.btn-space {
  margin-left: 1em;
  border-radius: 6px;
}

.active-passwords {
  color: #2196F3;
  background-color: #c9cdc9;
  margin-right: 2px;
  border-radius: 6px !important;
}

.active-passwords:hover {
  color: #2196F3;
  background-color: #6c757d;
}

.active-passwords.active {
  color: #2196F3 !important;
  background-color: #6c757d !important;
}

.in-active-passwords {
  color: #6c757d;
  background-color: #c9cdc9;
  border-radius: 6px !important;
}

.in-active-passwords:hover {
  color: #c9cdc9;
  background-color: #6c757d;
}

.in-active-passwords.active {
  color: #6c757d !important;
  background-color: #c9cdc9 !important;
}


.filter-button {
  background-color: #ffff !important;
  border-color: #80808047 !important;
}

.active-users {
  color: #2196F3;
}

.filter-button:hover {
  color: #99aebf;
  background-color: #9e9e9ea3 !important;
}

.filter-button.active {
  color: #2196F3 !important;
  background-color: #6c757d !important;
}

.in-active-users {
  color: #c9cdc9;
}

.btn-file {
  margin-right: 5px;
}

.alert-message {
  color: red !important;
}

.list-field-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
}

.list-count {
  position: relative;
  display: block;
  background-color: #fff;
}

.alert-import {
  padding: 3px 12px 0px 22px;
}

.img-circle {
  display: block !important;
  border-radius: 50%;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.password_logo {
  display: contents;
}

.img-logo {
  width: 20%;
  height: 70%;
  object-fit: contain;
}

.width-10 {
  width: 10px;
}

li.list-group-item:hover {
  background: #f4f4f4 !important;
}

.attachment-remove {
  display: inline-flex;
  margin-left: 1.3rem;
}

.table-mapping {
  display: block;
}

.li-mapping {
  border: 0px;
}

.mapping-active {
  background: #dee2e6 !important;
}

.profile-user-img {
  margin: 0 auto;
  width: 100px !important;
  padding: 3px;
  border: 3px solid #d2d6de;
}

.list-field-mapping {
  position: relative;
  display: block;
  padding: 0 0 1.15rem 0;
  background-color: #fff;
}
/* PAGINATION */
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff !important;
  background-color: #337ab7 !important;
  border-color: #337ab7 !important;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.pagination .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.pagination.pagination-flat > li > a {
  border-radius: 0 !important;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.editor-label > label:after {
  content: ": "
}

.editor-strong > strong:after {
  content: ": "
}
